import(methods)
import(utils)

importFrom(igraph, graph.data.frame, get.data.frame, layout.kamada.kawai,
                   plot.igraph, igraph.to.graphNEL)


import(BiocGenerics)
import(IRanges)
import(GenomicRanges)

importFrom(graph, nodeDataDefaults, nodeData,
                  edgeDataDefaults, edgeNames, edgeData)

importFrom(Rgraphviz, agopen)

import(GenomicFeatures)
import(Rsamtools)

exportClasses(SplicingGraphs)

export(
  Spath,
  UATXHcount,
  Sgdf,
  Sgraph,
  uninformativeSSids,
  Sgdf2,
  Sgraph2,
  SplicingGraphs,

  assignSubfeatureHits,

  toy_genes_gff,
  toy_reads_sam,
  toy_reads_bam,
  toy_overlaps,
  plotToyReads
)

exportMethods(
  length,
  names,
  elementLengths,
  Spath,
  UATXHcount,
  Sgdf,
  Sgraph,
  uninformativeSSids,
  plot,
  findOverlaps,
  encodeOverlaps
)
